<h3><i class="fas fa-laptop"></i>InfoTech</h3>
<div class="section">
    <p class="lead">Laptop bluescreen? Codingan error terus? Tanya saja di Infotech! Ga jamin membantu sih.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1"><i class="fab fa-google left"></i>Log In With Google</a>
    <br>
    <form action="/api/user/login" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <button type="submit" value="Save" class="btn red darken-1">Login</button>
    
</form>
    <p>Belum punya akun? <a href="/api/user/register/akun"></i>Daftar</a></p>
</div>