<form action="/api/user" method="POST">
    <label for="name">Nama Lengkap:</label>
    <input type="text" name="name" id="name">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <button type="submit" value="Save" class="btn red darken-1">Register</button>
    
</form>