.text-blue {
  color: #7dc4f5 !important;
}

.link-blue:hover {
  color: #0056b3 !important;
  text-decoration: none !important;
}

.nav-link:hover {
  color: #0056b3 !important;
}

.login {
  background-color: #7dc4f5;
}

.content-login {
  background-color: #ffffff;
  border-radius: 5px;
}

.color-login {
  color: #7dc4f5;
  font-weight: bold;
}

.login-text {
  font-size: 18px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-title {
  font-weight: bold;
  font-size: 3rem;
}

.login-white {
  color: white;
  background-color: #85ccff;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.login-white:hover {
  background-color: #71aeda;
}

.login-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #85ccff;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.login-blue:hover {
  background-color: #71aeda;
}

.forgot-login {
  font-size: 15px;
  color: #85ccff;
  text-decoration: none;
}

.forgot-login:hover,
.forgot-login:link,
.forgot-login:active {
  color: #73b0db;
  text-decoration: none;
}

.home-content {
  margin-top: 2cm;
  margin-left: 2cm;
}

.bg-blue {
  background-color: #7dc4f5;
}

.home-tagline {
  font-size: 1.2rem;
}

.home-button {
  background-color: #7dc4f5 !important;
  border-radius: 1rem !important;
}

.home-button:hover {
  background-color: #0056b3 !important;
}

.toggle-button {
  border: 2px solid #7dc4f5 !important;
  color: #7dc4f5;
}

.toggle-button:hover {
  background-color: #7dc4f5;
  color: #fff;
}

.toggle-button:focus {
  outline: none;
}

.img-content {
  margin-top: 0.5cm;
  margin-left: 1cm;
}

.tentang-padding {
  margin-top: 2cm;
}

.background {
  color: #7dc4f5;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.ttf');
}

.signup-text {
  border-radius: 20px;
  background-color: #8ccfff;
}

.text {
  color: #ffffff;
}

.signup {
  margin-top: 8rem;
}

.daftar-text {
  color: #8ccfff;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .mobile-none {
    display: none !important;
  }
}

.toggle-link:focus {
  box-shadow: none !important;
  text-decoration: none !important;
}

.comment-button {
  background-color: #7dc4f5 !important;
}

.comment-button:hover {
  background-color: #0056b3 !important;
}

@media only screen and (max-width: 768px) {
  .comment-avatar {
    width: 25% !important;
    height: auto !important;
  }

  .comment-name {
    text-align: center !important;
  }
}

.ajukan-content {
  color: #7dc4f5;
  font-size: 25px;
  font-weight: bold;
}

.text-ajukan {
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.btn-ajukan {
  background-color: #0095ff !important;
  border: none !important;
  color: white !important;
  font-weight: bold !important;
}

.btn-ajukan:hover {
  background-color: #0069b4 !important;
}

.dpdn-ajukan {
  background-color: #4fc7ff !important;
}

.profile-content {
  font-weight: bold;
  font-size: 15px;
}

.profile-header {
  color: #58ace7;
  font-weight: bold;
  font-size: 25px;
}

.img-profile {
  display: flex;
  align-items: center;
  background-color: black;
}

.edit-profile {
  color: #7dc4f5;
}

.edit-profile:hover {
  color: #4d8fbe;
}

.input-ajukan {
  font-weight: bold !important;
  background-color: #5bbaff !important;
  padding: 3 3 0 0 !important;
}

.input-ajukan:hover {
  background-color: #4a9bd4 !important;
}

.range-form {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.border-kuisioner {
  border-radius: 10px;
  border: 2px solid #7dc4f5;
}

.head-kuisioner {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #7dc4f5;
}

.btn-kuisioner {
  background-color: #7dc4f5 !important;
  font-weight: bold !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.btn-kuisioner:hover {
  background-color: #2ca7ff !important;
}

.form-edit {
  font-size: 18px !important;
  font-weight: bold !important;
}

.form-border {
  border: 2px solid #7dc4f5 !important;
  padding-left: 5px !important;
  border-radius: 5px !important;
}
